require "spec"
require "../src/*"
<%- if include_spec_helper -%>
require "./spec_helper"
<%- end -%>

describe "<%= test_class %>" do
<%- if has_describe_contextual? -%>
  describe "<%= describe_contextual %>" do
<%- end -%>
<%- cases.each do |test_case_or_group| -%>
<%= test_case_or_group.indent(has_describe_contextual? ? 2 : 1) %>
<%- end -%>
<%- if has_describe_contextual? -%>
  end
<%- end -%>
end
