<%- if has_describe_group? -%>
describe "<%= describe_group %>" do
<%- end -%>
<%- cases.each do |test_case| -%>
<%= test_case.indent(has_describe_group? ? 1 : 0) %>
<%- end -%>
<%- if has_describe_group? -%>
end
<%- end -%>
