<%- if has_describe_group? && visible -%>
describe "<%= describe_group %>" do
<%- end -%>
<%- cases.each do |test_case_or_group| -%>
<%= test_case_or_group.indent(has_describe_group? ? (visible ? 1 : 0) : 0) %>
<%- end -%>
<%- if has_describe_group? && visible -%>
end
<%- end -%>
